<div class="row py-5">
    <div class="mt-3 mt-md-0 col-sm-6 col-md-3">
        <select name="" id="" class="form-control form-select">
            <option value="">Select Academic Session</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
        </select>
    </div>
    <div class="mt-3 mt-md-0 col-sm-6 col-md-3">
        <select name="" id="" class="form-control form-select">
            <option value="">Select Class</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
        </select>
    </div>
    <div class="mt-3 mt-md-0 col-sm-6 col-md-3">
        <select name="" id="" class="form-control form-select">
            <option value="">Select Section</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
        </select>
    </div>
    <div class="mt-3 mt-md-0 col-sm-6 col-md-3">
        <select name="" id="" class="form-control form-select">
            <option value="">Select Subject</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
        </select>
    </div>
</div>
<div class="row py-2 justify-content-between">
    <div class="col-sm-3 ">
        <a class="btn btn-link"> <i class="fa-solid fa-filter"></i>Filter</a>
    </div>
    <div class="col-sm-8 col-lg-5 d-flex">
        <select name="" id="" class="form-control form-select bg-warning text-white">
            <option value="">Enrolment Status</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
        </select>
        <a href="#" class="btn btn-link"><i class="fa-solid fa-table-columns"></i></a>
        <a href="" class="btn btn-link"><i class="fa-solid fa-download"></i></a>

        <select name="" id="" class="form-control form-select bg-warning text-white">
            <option value=""><a href="#" class="badge"> 0</a> Selected</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
            <option value="">lorem ipsum dummy text</option>
        </select>
    </div>
</div>
<div class="row mt-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                    <th scope="col">Lorem ipsum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                    <td><img src="../assets/img/demo/profile-picture-icon.png" alt="" width="30px">
                    </td>
                    <td><a href="./view-profile-student.html">Lorem ipsum</a></td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>
                        <i class="mars-0005 fas fa-info-circle"></i>
                        <a href="./edit-student-profile.html" class="mars-0005">
                            <i class="fas fa-pen-to-square" title="Edit Profile"></i>
                        </a>
                        <i class="mars-0005 fas fa-folder"></i>
                        <i class="mars-0005 fas fa-lock"></i>
                        <i class="mars-0005 fas fa-trash-alt"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                    <td><img src="../assets/img/demo/profile-picture-icon.png" alt="" width="30px">
                    </td>
                    <td><a href="./view-profile-student.html">Lorem ipsum</a></td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>
                        <i class="mars-0005 fas fa-info-circle"></i>
                        <a href="./edit-student-profile.html" class="mars-0005">
                            <i class="fas fa-pen-to-square" title="Edit Profile"></i>
                        </a>
                        <i class="mars-0005 fas fa-folder"></i>
                        <i class="mars-0005 fas fa-lock"></i>
                        <i class="mars-0005 fas fa-trash-alt"></i>
                    </td>
                </tr>
                <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                    <td><img src="../assets/img/demo/profile-picture-icon.png" alt="" width="30px">
                    </td>
                    <td><a href="./view-profile-student.html">Lorem ipsum</a></td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>lorem ipsum</td>
                    <td>
                        <i class="mars-0005 fas fa-info-circle"></i>
                        <a href="./edit-student-profile.html" class="mars-0005">
                            <i class="fas fa-pen-to-square" title="Edit Profile"></i>
                        </a>
                        <i class="mars-0005 fas fa-folder"></i>
                        <i class="mars-0005 fas fa-lock"></i>
                        <i class="mars-0005 fas fa-trash-alt"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>