<form [formGroup]="form" (ngSubmit)="this.onSubmit()">
    <div class="row pt-5 pb-5">
        {{form.value | json}}
        <div class="col-md-12 col-lg-2">
            <div class="row justify-content-center align-items-center">
                <p class="d-flex justify-content-between align-items-center ">Profile Picture <i
                        class="fas fa-pencil me-4"></i></p>

            </div>
            <div class="row justify-content-center">
                <img src="../assets/img/demo/profile-picture-icon.png" class="w-25 mars-0002" alt="">
            </div>
        </div>
        <div class="col-md-12 col-lg-10">
            <div class="row mt-3 justify-content-center">
                <div class="col-12">
                    <p><i class="fas fa-tag"></i> Enrolment</p>
                </div>
                <div class="col-11 col-md-4">
                    <div class="col-12 d-flex">
                        <p class="col-3">Academic Session<span class="text-danger">*</span></p>
                        <div class="col">
                            <select formControlName="academicSession" class="form-control form-select" required>
                                <option value="">Select Academic Session</option>
                                <option *ngFor="let section of academicsSessions" [value]="section.id">{{section.name}}
                                </option>
                            </select>
                            <div *ngIf="academicSession?.invalid && academicSession?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="academicSession?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class=" text-yellow ms-5 btn"><i class="fas fa-plus me-1"></i> Add Enrolment</button>
                </div>
                <div class="col-11 col-md-4">
                    <div class="col-12 d-flex">
                        <p class="col-3">Class<span class="text-danger">*</span></p>
                        <div class="col">
                            <select formControlName="class" class="form-control form-select" required>
                                <option value="">Select Class</option>
                                <option *ngFor="let class of classes" [value]="class.id">{{class.name}}
                                </option>
                            </select>
                            <div *ngIf="class?.invalid && class?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="class?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-4">
                    <div class="col-12 d-flex">
                        <p class="col-3">Section<span class="text-danger">*</span></p>
                        <div class="col">
                            <select formControlName="section" class="form-control form-select" required>
                                <option value="">Select Section</option>
                                <option *ngFor="let section of sections" [value]="section.id">
                                    {{section.name}}</option>

                            </select>
                            <div *ngIf="section?.invalid && section?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="section?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-12 d-flex align-items-center">
                    <p><i class="fas fa-user"></i> Academic Details</p>
                </div>
                <div class="col-11 col-md-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Admission No.<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="admissionNo" type="text" class="form-control"
                                placeholder="Admission No" required>
                            <div *ngIf="admissionNo?.invalid && admissionNo?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="admissionNo?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">First Name<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="firstName" type="text" class="form-control" placeholder="First Name"
                                required>
                            <div *ngIf="firstName?.invalid && firstName?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="firstName?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Last Name<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name"
                                required>
                            <div *ngIf="lastName?.invalid && lastName?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="lastName?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-12 d-flex align-items-center mb-0">
                    <p><i class="fas fa-calendar"></i> Personal Information</p>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Student Email<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="email" type="email" class="form-control" placeholder="Student Email"
                                required pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b">
                            <div *ngIf="email?.invalid && email?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="email?.errors?.['required']">
                                    This Feild is Required
                                </div>
                                <div class=" invalid-feedback d-block" *ngIf="email?.errors?.['pattern']">
                                    Please Enter a Valid Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Date of Birth<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="dob" type="date" class="form-control" placeholder="Date of Birth"
                                required>
                            <div *ngIf="dob?.invalid && dob?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="dob?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4" formGroupName="studentHouse">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Student House</p>
                        <div class="col">
                            <div class="form-check">
                                <input formControlName="cardinal" class="form-check-input" type="checkbox" value=""
                                    id="stdHouseA">
                                <label class="form-check-label" for="stdHouseA">
                                    Cardinal
                                </label>
                            </div>
                            <div class="form-check">
                                <input formControlName="paramount" class="form-check-input" type="checkbox" value=""
                                    id="stdHouseB">
                                <label class="form-check-label" for="stdHouseB">
                                    Paramount
                                </label>
                            </div>
                            <div class="form-check">
                                <input formControlName="eminent" class="form-check-input" type="checkbox" value=""
                                    id="stdHouseC">
                                <label class="form-check-label" for="stdHouseC">
                                    Eminent
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Student Contact<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="studentContactNo" type="text" class="form-control"
                                placeholder="Student Contact" pattern="^(\+92|0){1}(31|32|33|34|35){1}[0-9]{8}$"
                                required>
                            <div *ngIf="studentContactNo?.invalid && studentContactNo?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="studentContactNo?.errors?.['required']">
                                    This Feild is Required
                                </div>
                                <div class=" invalid-feedback d-block" *ngIf="studentContactNo?.errors?.['pattern']">
                                    Please Enter a Valid Phone Number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Gander<span class="text-danger">*</span></p>
                        <div class="col">
                            <select formControlName="gender" class="form-control form-select" required>
                                <option value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <div *ngIf="gender?.invalid && gender?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="gender?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Blood Group<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="bloodGroup" type="text" class="form-control"
                                placeholder="Blood Group" required>
                            <div *ngIf="bloodGroup?.invalid && bloodGroup?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="bloodGroup?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-12 d-flex align-items-center mb-0">
                    <p><i class="fas fa-calendar"></i> Additional Details</p>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Address<span class="text-danger">*</span></p>
                        <div class="col">
                            <textarea formControlName="address" class="form-control" placeholder="Address"
                                required></textarea>
                            <div *ngIf="address?.invalid && address?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="address?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Zip Code<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="zipCode" type="text" class="form-control" placeholder="Zip Code"
                                required>
                            <div *ngIf="zipCode?.invalid && zipCode?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="zipCode?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Country<span class="text-danger">*</span></p>
                        <div class="col">
                            <select formControlName="country" class="form-control form-select" required>
                                <option value="">Select Country</option>
                                <option *ngFor="let country of countries" [value]="country.id">
                                    {{country.name}}</option>
                            </select>
                            <div *ngIf="country?.invalid && country?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="country?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Father Name<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="fatherName" type="text" class="form-control"
                                placeholder="Father Name" required>
                            <div *ngIf="fatherName?.invalid && fatherName?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="fatherName?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Father's Surname<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="fatherSurname" type="text" class="form-control"
                                placeholder="Father's Surname" required>
                            <div *ngIf="fatherSurname?.invalid && fatherSurname?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="fatherSurname?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Father's Email</p>
                        <div class="col">
                            <input formControlName="fatherEmail" type="email" class="form-control"
                                placeholder="Father's Email" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b">
                            <div *ngIf="firstName?.invalid && firstName?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="firstName?.errors?.['pattern']">
                                    Please Enter a valid Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Father's Number<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="fatherNo" type="text" class="form-control"
                                placeholder="Father's Number" pattern="^(\+92|0){1}(31|32|33|34|35){1}[0-9]{8}$"
                                required>
                            <div *ngIf="fatherNo?.invalid && fatherNo?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="fatherNo?.errors?.['required']">
                                    This Feild is Required
                                </div>
                                <div class=" invalid-feedback d-block" *ngIf="fatherNo?.errors?.['pattern']">
                                    Please Enter a Valid Phone Number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Father's CNIC</p>
                        <div class="col">
                            <input formControlName="fatherCNIC" type="text" class="form-control"
                                placeholder="Father's CNIC" pattern="^[0-9]{5}(-[0-9]{7})(-[0-9]{1})$"
                                (ngModelChange)="setFatherCNIC($event)">
                            <div *ngIf="fatherCNIC?.invalid && fatherCNIC?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="fatherCNIC?.errors?.['pattern']">
                                    Please Enter a valid CNIC Number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Father's Profession<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="fatherProfession" type="text" class="form-control"
                                placeholder="Father's Profession" required>
                            <div *ngIf="fatherProfession?.invalid && fatherProfession?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="fatherProfession?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Father's Company</p>
                        <div class="col">
                            <input formControlName="fatherCompany" type="text" class="form-control"
                                placeholder="Father's Company">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Mother Name<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="motherName" type="text" class="form-control"
                                placeholder="Mother Name" required>
                            <div *ngIf="motherName?.invalid && motherName?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="motherName?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Mother's Surname<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="motherSurname" type="text" class="form-control"
                                placeholder="Mother's Surname" required>
                            <div *ngIf="motherSurname?.invalid && motherSurname?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="motherSurname?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Mother's Email</p>
                        <div class="col">
                            <input formControlName="motherEmail" type="email" class="form-control"
                                placeholder="Mother's Email" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b">
                            <div *ngIf="firstName?.invalid && firstName?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="firstName?.errors?.['pattern']">
                                    Please Enter a valid Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Mother's Number<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="motherNo" type="text" class="form-control"
                                placeholder="Mother's Number" pattern="^(\+92|0){1}(31|32|33|34|35){1}[0-9]{8}$"
                                required>
                            <div *ngIf="motherNo?.invalid && motherNo?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="motherNo?.errors?.['required']">
                                    This Feild is Required
                                </div>
                                <div class=" invalid-feedback d-block" *ngIf="motherNo?.errors?.['pattern']">
                                    Please Enter a Valid Phone Number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Mother's CNIC</p>
                        <div class="col">
                            <input formControlName="motherCNIC" type="text" class="form-control"
                                placeholder="Mother's CNIC" pattern="^[0-9]{5}(-[0-9]{7})(-[0-9]{1})$"
                                (ngModelChange)="setMotherCNIC($event)">
                            <div *ngIf="motherCNIC?.invalid && motherCNIC?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="motherCNIC?.errors?.['pattern']">
                                    Please Enter a valid CNIC Number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Mother's Profession</p>
                        <div class="col">
                            <input formControlName="motherProfession" type="text" class="form-control"
                                placeholder="Mother's Profession">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Parents Email</p>
                        <div class="col">
                            <input formControlName="parentsEmail" type="email" class="form-control"
                                placeholder="Parents Email" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b">
                            <div *ngIf="parentsEmail?.invalid && parentsEmail?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="parentsEmail?.errors?.['pattern']">
                                    Please Enter a valid Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Emergency Contact Name<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="emergencyContactName" type="text" class="form-control"
                                placeholder="Emergency Contact Name" required>
                            <div *ngIf="emergencyContactName?.invalid && emergencyContactName?.touched">
                                <div class=" invalid-feedback d-block"
                                    *ngIf="emergencyContactName?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Emergency Contact No<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="emergencyContactNo" type="text" class="form-control"
                                placeholder="Emergency Contact No" pattern="^(\+92|0){1}(31|32|33|34|35){1}[0-9]{8}$"
                                required>
                            <div *ngIf="emergencyContactNo?.invalid && emergencyContactNo?.touched">
                                <div class=" invalid-feedback d-block" *ngIf="emergencyContactNo?.errors?.['required']">
                                    This Feild is Required
                                </div>
                                <div class=" invalid-feedback d-block" *ngIf="emergencyContactNo?.errors?.['pattern']">
                                    Please Enter a Valid Phone Number
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Emergency Contact Relation<span class="text-danger">*</span></p>
                        <div class="col">
                            <input formControlName="emergencyContactRelation" type="text" class="form-control"
                                placeholder="Emergency Contact Relation" required>
                            <div *ngIf="emergencyContactRelation?.invalid && emergencyContactRelation?.touched">
                                <div class=" invalid-feedback d-block"
                                    *ngIf="emergencyContactRelation?.errors?.['required']">
                                    This Feild is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">1. Sibling's Name</p>
                        <div class="col">
                            <input formControlName="sibling1Name" type="text" class="form-control"
                                placeholder="1. Sibling's Name">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">1. Sibling's Class/Campus</p>
                        <div class="col">
                            <input formControlName="sibling1Class" type="text" class="form-control"
                                placeholder="1. Sibling's Class/Campus">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">2. Sibling's Name</p>
                        <div class="col">
                            <input formControlName="sibling2Name" type="text" class="form-control"
                                placeholder="2. Sibling's Name">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">2. Sibling's Class/Campus</p>
                        <div class="col">
                            <input formControlName="sibling2Class" type="text" class="form-control"
                                placeholder="2. Sibling's Class/Campus">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">3. Sibling's Name</p>
                        <div class="col">
                            <input formControlName="sibling3Name" type="text" class="form-control"
                                placeholder="3. Sibling's Name">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">3. Sibling's Class/Campus</p>
                        <div class="col">
                            <input formControlName="sibling3Class" type="text" class="form-control"
                                placeholder="3. Sibling's Class/Campus">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-12 d-flex align-items-center mb-0">
                    <p><i class="fas fa-star"></i> Skills & Social Details</p>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Facebook Link</p>
                        <div class="col">
                            <input formControlName="fbLink" type="text" class="form-control"
                                placeholder="Facebook Link">
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-6 mt-4">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="col-3">Linkedin Profile Link</p>
                        <div class="col">
                            <input formControlName="linkedinProfile" type="text" class="form-control"
                                placeholder="Linkedin Profile Link">
                        </div>
                    </div>
                </div>
            </div>
            <button *ngIf="!loading" type="submit" class="btn btn-primary mt-5" [disabled]="form.invalid">Add</button>
            <button *ngIf="loading" class="btn btn-primary mt-5" type="button" disabled>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
</form>