<div class="row px-3 py-5">
    <div class="col-lg-2">
        <div class="row justify-content-center align-items-center">
            <p class="d-flex justify-content-between align-items-center ">Profile Picture <i
                    class="fas fa-pencil me-4"></i></p>

        </div>
        <div class="row justify-content-center">
            <img src="../assets/img/demo/profile-picture-icon.png" class="w-25 mars-0002" alt="">
        </div>
    </div>
    <div class="col-lg-10">

        <div class="row ">
            <div class="col-12 d-flex align-items-center">
                <p><i class="fas fa-user"></i> Teacher/Staff Details</p>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Employee Type</p>
                    <div class="col">
                        <select name="" id="" class="form-control form-select">
                            <option value="">Select Employee Type</option>
                            <option value="">lorem ipsum dummy text</option>
                            <option value="">lorem ipsum dummy text</option>
                            <option value="">lorem ipsum dummy text</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Teacher Id</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">First Name</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Last Name</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Contact No</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Contact No">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Email</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">CNIC</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="CNIC">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Date of Birth</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Date of Birth">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Date of joining</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Date of joing">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Campus</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Campus">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Designation</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Designation">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Department</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Department">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Qualification</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Qualification">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Years of Service</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Years of Service">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Previous Organization</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Previous Organization">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Gander</p>
                    <div class="col">
                        <select name="" id="" class="form-control form-select">
                            <option value="">Gender</option>
                            <option value="">Male</option>
                            <option value="">Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Marital Status</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Marital Status">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 d-flex align-items-center">
                <p><i class="fas fa-calendar"></i> Additional Information</p>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Blood Group</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Blood Group">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Address</p>
                    <div class="col">
                        <textarea class="form-control" placeholder="Address"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Zip Code</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Zip Code">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">State</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="State">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Country</p>
                    <div class="col">
                        <select name="" id="" class="form-control form-select">
                            <option value="">Select Country</option>
                            <option value="">lorem ipsum dummy text</option>
                            <option value="">lorem ipsum dummy text</option>
                            <option value="">lorem ipsum dummy text</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Parent Name</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Parent Name">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Parent Surname</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Parent Surname">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Parent CNIC</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Parent CNIC">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Parent Profession / Designation</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Parent Profession / Designation">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Parent Company / Organization</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Parent Company / Organization">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Spouse Name</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Spouse Name">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Spouse Surname</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Spouse Surname">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Spouse Email</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Spouse Email">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Spouse CNIC</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Spouse CNIC">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Spouse Cell No.</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Spouse Cell No.">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Spouse Profession / Designation</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Spouse Profession / Designation">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Spouse Company / Organization</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Spouse Company / Organization">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Emergency Contact Name</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Emergency Contact Name">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Emergency Contact No.</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Emergency Contact No.">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Emergency Contact Relation</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Emergency Contact Relation">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 d-flex align-items-center">
                <p><i class="fas fa-star"></i> Skills & Social Details</p>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Profile Summary</p>
                    <div class="col">
                        <textarea class="form-control" placeholder="Profile Summary"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Skills</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Skills">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Facebook Profile Link</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Facebook Profile Link">
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-3">Linkedin Profile Link</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Linkedin Profile Link">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary"><i class="fas fa-circle-check me-2"></i>
                    Add</button>
            </div>
        </div>
    </div>
</div>